---
interface Props {
  size?: string;
}
const { size } = Astro.props;
const sizes = {
  xl: "text-xl",
  "2xl": "text-xl md:text-2xl",
  "3xl": "text-2xl md:text-3xl",
  "4xl": "text-3xl md:text-4xl",
  "5xl": "text-4xl md:text-5xl",
  "6xl": "text-5xl md:text-6xl",
  "7xl": "text-6xl md:text-7xl",
  "8xl": "text-7xl md:text-8xl",
  "9xl": "text-8xl md:text-9xl",
};
---

<p
  class="bg-gradient-to-tr bg-[size:100%_200%] bg-[position:20%_0%] hover:bg-[position:90%_80%] transition-all duration-300 font-bold text-5xl md:text-6xl from-blue-600 via-sky-400 to-indigo-600 bg-clip-text text-transparent z-10"
  class:list={[sizes[size]]}
>
  <slot />
</p>
